@model MvcFirmaCagri.Models.Entity.TblFirmalar
@{
    ViewBag.Title = "ProfilDuzenle";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}
<h2>Yeni Çağrı Düzenleme Sayfası</h2>
<br />
@using (Html.BeginForm("ProfilGuncelle", "Default", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ID)
    @Html.Label("Firma Adı")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Yetkili")
    @Html.TextAreaFor(x => x.Yetkili, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Sifre")
    @Html.PasswordFor(x => x.Sifre, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Sektör")
    @Html.TextAreaFor(x => x.Sektor, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.ID)
    @Html.Label("İl")
    @Html.TextAreaFor(x => x.il, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Adres")
    @Html.TextAreaFor(x => x.Adres,10,4, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Değişiklikleri Kaydet</button>
}
